 *{
    background-color: rgb(155, 248, 217);
} 
 #countdown{
    text-align: center;
    color: hsl(0, 100%, 50%);
    position:absolute;
    font-size: 50px;
    opacity: 1;
    height: 50vh;
} 
 #div-tag{
    display: block;
    margin: -8px;
    width: 100vw;
    height: 100vh;
    background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs1.picswalls.com%2Fwallpapers%2F2017%2F12%2F11%2Fnature-desktop-wallpapers_123027282_313.jpg&f=1&nofb=1&ipt=fc5e8a59c6d283787a07dc778358c3062959b2b1e4ad4982e80fbcbf6fcf1ea4&ipo=images)no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
 #bg-image1{
    position:sticky;
    display: block;
    width: 100vw;
    height: 100vh;
    margin: -8px;
} 
 .head-2{
    color: aliceblue;
    text-align: center;
} 
