body{
    display: grid;
    background-color: wheat;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    gap: 15px;
}
header{
    grid-area: header;
    /*grid-column: 1 / 3;*/
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
body>*{
    border: 5pt solid rgb(128, 128, 128);
}