*{
    background-color: #4db8ff;
    box-sizing: border-box;
}
img{
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #0052cc;
    font-size: 48px;
    font-weight: 400;
    border:3px solid #4d4dff;
    /* width: 550px; */
    padding: 15px;
    background-color: #33ffff;
    margin: auto;
    border-radius: 10px;
    display: block;
}
.container-1{ 
    border: 5px solid greenyellow;
    border-radius: 10px;
    max-width: 806px;
    margin:auto;
    padding: 15px;
}
.container-2{ 
    border: 5px solid greenyellow;
    border-radius: 10px;
    max-width: 548px;
    margin:auto;
    padding: 15px;
}
p{    
    display: inline-block;
    width: 250px;
    border: 3px solid rgb(195, 36, 36);
    margin: auto;
    background-color: #ff80aa;
    color:firebrick;
    font-size: large;
    margin-block: 1em;
    padding: 15px;
}
.Paragraph-1, .Paragraph-3,.Paragraph-2{
    position:relative;
}