*{
    background-color: #4db8ff;
    box-sizing: border-box;
    /* background: url(https://source.unsplash.com/random)no-repeat center center/cover;important syntax and link */
}
img{
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    width: 50vw;
    height: 75vh;
}
div{
    max-width: fit-content;
}
h2{
    font-family: 'Dancing Script', cursive;
    border:3px solid #4d4dff;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    max-width: fit-content;
    margin-inline: 50px;
    background-color: #d580ff;
    /* background-image: url(https://source.unsplash.com/random); */
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #0052cc;
    font-size: 48px;
    font-weight: 400;
    border:3px solid #4d4dff;
    max-width: fit-content;
    padding: 15px;
    background-color: #10bfbf;
    margin: auto;
    border-radius: 10px;
    display: block;
    background: url(https://source.unsplash.com/random)no-repeat center center/cover;
}
.container-1{ 
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid greenyellow;
    border-radius: 10px;
    max-width: 806px;
    margin:auto;
    padding: 15px;
}
.container-2{ 
    border: 5px solid greenyellow;
    border-radius: 10px;
    max-width: 548px;
    margin:auto;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{    
    /* background-image: url(https://source.unsplash.com/random); */
    display: inline-block;
    width: 250px;
    border: 3px solid rgb(195, 36, 36);
    margin: auto;
    background-color: #ff80aa;
    color:firebrick;
    font-size: large;
    margin-block: 1em;
    padding: 15px;
}
.Paragraph-1, .Paragraph-3,.Paragraph-2{
    position:relative;
}
.iframe{
    display: inline-block;
    margin: 20px auto 20px 250px;
    border-radius: 10px;
}
details{
    margin-left: 25px;
    color: rosybrown;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    background-color: wheat;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    padding: 5px;
    max-width: fit-content;
    font-size: 25px;
}
a{
    background-color:  wheat;
    text-decoration: none;
}
.video{
    display: inline-block;
    margin: 20px auto 20px 20px; /*it comes clock wise margin padding*/
    /* position: absolute; */ 
}